@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
  margin: 0;
}


/* ALL PAGES */
.mt{
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */

.header-logo{
  position: absolute;
  left: 0%;
  height: 50px;
  margin: 12.5px;
}
