@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* ALL PAGES */
.mt{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-weight: bold;
}

/* HEADER */

.navbar{
  background-color: #FFFFFF !important;
}
.navbar-nav{
  position: absolute;
  right: 0;
  margin-right: 50px !important;
}
.nav-link{
  text-transform: uppercase;
  font-size: 14px;
  color: #000000 !important;
  margin: 0 15px;
}
.dropdown-item{
  text-transform: uppercase;
  font-size: 14px;
}
.dropdown-item:hover{
  background-color: transparent;
}
.dropdown-menu{
  border-radius: 0;
}
 .dropdown-item:active{
  color: #000000 !important;
}
.underline{
  text-decoration: none;
  position: relative;
}
.underline:after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 0%;
  border-bottom: 2px solid #00EFBA;
  transition: 0.4s;
  text-align: center;
}
.underline:hover:after {
  width: 50%;
  background-color: transparent;
}
.header-logo{
  height: 50px;
}
.home-btn{
  margin-top: -5px;
}
.home-btn:active{
  background-color: transparent !important;
  color: #391CF1 !important;
}
.btn{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #391CF1;
  border:1px solid #391CF1;
  transition: all ease 0.35s;
}
.btn-primary.focus, .btn-primary:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.btn:hover{
  background-color:transparent;
  color:#391CF1;
}


/* Slider carousel bootstrap */

.carousel{
  height: 100%;
}

.carousel-indicators{
  margin-left: 36.5%;
  margin-top: 2%;
  bottom: 2px;
}

.carousel-indicators li{
  background-color: #00EFBA;
  width: 20px;
  height: 20px;
  margin-left: 2%;
  cursor: pointer;
}

.carousel-indicators li:hover{
  background-color: #391CF1;
}

.carousel-indicators .active{
  background-color: #391CF1;
}

.carousel-inner{
  width: 80%;
  height: auto;
  margin-top: 5%;
  margin-left: 10%;
}

.carousel-item img{
  height: 300px;
}

.carousel-item h1 {
  margin-bottom: 1%;
  margin-top: 0%;
  height: 25%;
  font-weight: bold;
  font-size: 25pt;
}

.carousel-item p {
  margin-top: 5%;
  height: 42.5%;
}

.btn-carousel{
  float: right;
  position: relative;
  z-index: 30;
}

.underline-title{
  width: 25%;
  height: 10px;
  background-color: #00EFBA;
}

.carousel-control-next, .carousel-control-prev{
  background-color: #F0F5FC;
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: 20%;
  z-index: 20;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
  background-color: #d9e7fc ;
}

.carousel-control-prev{
  margin-left: 52.5%;
}

.carousel-control-next{
  margin-right: 30%;
}

/* RESERVATION DE COURT BOOKING */

.ctn-booking{
  margin-top: 5%;
  height: auto;
  -moz-box-shadow: 5px 5px 10px 5px #cfcfcf;
-webkit-box-shadow: 5px 5px 10px 5px #cfcfcf;
-o-box-shadow: 5px 5px 10px 5px #cfcfcf;
box-shadow: 5px 5px 10px 5px #cfcfcf;
}

.row-booking{
  width: 97.5%;
  margin-top: 2%;
  margin-bottom:1.5%;
}

.ctn-booking h3{
  font-weight: bold;
  font-size: 25px;
}

.form-group{
  padding: 0;
  margin-top: 5%;
}

.form-control{
  border-radius: 50px;
  background-color: #F0F5FC;
  -webkit-appearance: none;
  border: none;
}

.btn-booking{
  margin-top: 15%;
}

/* ACTUALITES */

.ctn-actu{
  margin-top: 5%;
}

.ctn-actu h1{
  margin-bottom: 0;
}

.card-deck-actu{
  margin-top: 5%;
}

.card-actu{
  border: none;
}

.card-title{
  margin-bottom: 0;
}

.underline-card{
  height: 5px;
}

.card-actu .text-muted{
  margin-top: 10%;
}

.card-actu .card-text{
  margin-top: 5%;
}

.card-actu .card-footer{
  background: none;
  border: none;
}

.card-actu .card-footer a{
  float: right;
  color: #1B3352;
  font-weight: bold;
  font-size: 12px;
}


.leftline{
  text-decoration: none;
  position: relative;
}
.leftline:hover{
  text-decoration: none;
}
.leftline:after {
  content: '';
  position: absolute;
  top: 40%;
  right: 110%;
  width: 20%;
  border-bottom: 2px solid #00EFBA;
  transition: 0.4s;
  text-align: center;
}
.leftline:hover:after {
  width: 50%;
  background-color: transparent;
  text-decoration: none;
}
/* RESPONSIVE */

/* HEADER*/

@media screen and (max-width: 991px){
.navbar-toggler{
  border-color: transparent !important;
}
.navbar-nav{
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-right: inherit;
}
.dropdown-menu{
  text-align: center;
}
.underline:after {
  left: 40%;
}
.underline:hover:after {
  width: 20%;
}
.home-btn{
  margin-top: 0px;
}

}



@media screen and (max-width: 660px){
/* CAROUSEL */

.carousel{
  height: 100%;
}

.carousel-indicators{
  margin-left: -25%;
}

/* BOOKING */

.row-booking{
  width: 100%;
}

.ctn-booking{
  margin-top: 10%;
}

.ctn-booking h3{
  margin-top: 5%;
}

.btn-booking{
  margin-top: 5%;
  margin-bottom: 2.5%;
}
}
